[submodule "submodules/ubuntu-kernel"]
	path = submodules/ubuntu-kernel
	url = git://git.launchpad.net/~ubuntu-kernel/ubuntu/+source/linux/+git/questing
	branch = master-next
[submodule "submodules/zfsonlinux"]
	path = submodules/zfsonlinux
	url = https://github.com/openzfs/zfs
